* {
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

.jumbotron {
    background-color: #33383F !important;
    margin: 0px 0 -53px 0 !important;
}

.intro-name {
    color: #E75371;
    font-family: 'Hind', sans-serif;
    font-size: 32px;
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;
}

.display-4 {
    padding-left: 100px;
}

.my-4 {
    width: 350px;
    color: #21C2C8 !important;
    border-top: 1px solid #21C2C8;
}

.my-1 {
    color: #21C2C8 !important;
    border-top: 1px solid #21C2C8;
}

.display-4 {
    margin-top: 50px !important;
}

.text-center {
    margin-top: 30px !important;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px 0px 20px 0px !important;
    font-family: 'Hind', sans-serif !important;
    font-size: 50px !important;
    text-transform: uppercase;
}

h2 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Hind', sans-serif !important;
    font-size: 24px !important;
}

h3 {
    font-family: 'Hind', sans-serif !important;
    align-items: center;
    text-align: center;
    font-size: 26px !important;
    margin-top: 28px !important;
}

h4 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px auto !important;
    font-family: 'Hind', sans-serif !important;
    font-size: 24px !important;
    color: white !important;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto !important;
    font-family: 'Hind', sans-serif !important;
    font-size: 24px !important;
    color: white !important;
    background-color: #2FC2C7;
}

h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto !important;
    font-family: 'Hind', sans-serif !important;
    font-size: 24px !important;
    color: white !important;
}

.intro-style {
    font-family: 'Hind', sans-serif;
    font-size: 32px;
}

.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: white !important;
    text-decoration: none !important;
    text-align: left !important;
}

p {
    font-size: 15px;
    text-align: center !important;
}

.ptech {
    text-align: center !important;
    padding: 0 25px;
}

.caption {
    position: absolute;
    top: 30%;
    text-align: left;
    font-size: 50px;
    margin: -120px auto;
}

/* Navbar */

.navbar {
    align-items: center;
    background-color: black !important;
    padding: 1px;
    border-bottom: 1px solid white;
}

.nav-link {
    color: white !important;
    font-size: 12px;
}

.fa.fa-th-list {
    color: white !important;
    margin-top: 10px;
}

.hover-underline-menu {
    width: 100%;
}

.hover-underline-menu .menu a {
    color: #fefefe;
    padding: .5rem 1.3rem;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(80% - 0.125rem);
    border-bottom: 0.2rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.3s ease-out;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 5px;
    right: 5px;
    transition: all 0.3s ease-in;
}

/* Banner */

.banner {
    position: relative;
    background-image: url("");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -24rem;
}

.about-me-content.tech {
    background-color: #F5F5F5;
}

.banner.about {
    position: relative;
    background-image: url("https://i.imgur.com/lO1Fauc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    height: 71%;
}

/* About Me */

.aboutme-p {
    text-align: center;
    margin: 80px auto;
    max-width: 800px;
    padding: 0 15px;
}

.about-me-link {
    color: white !important;
    font-size: 18px;
}

.about-me-content {
    background-color: white;
    padding: 15px 1px;
}

.hvr-bubble-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px !important;
}

.hvr-bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 0;
    margin: -15px auto;
    border-width: 10px 10px 0px 10px;
    border-color: white transparent transparent transparent;
}

.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}

/* About Me */

.skills-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.creative-panel, .responsive-panel, .dynamic-panel {
    margin: 30px 70px;
}

/* Technologies */

.all-tables {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    overflow: scroll;
}

.skills-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid #E55573 5px;
    margin: 20px;
    border-radius: 5%;
}

.music-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid #2FC2C7 5px;
    margin: 20px;
    border-radius: 5%;
}

.overflow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px 20px 10px;
    width: 365px;
    height: 330px;
    overflow: scroll;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    font-size: 12px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid #E75371;
    border-radius: 8%;
    transition: all 0.3s ease-out;
}

.music-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    font-size: 12px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid #21C2C8;
    border-radius: 8%;
    transition: all 0.3s ease-out;
}

.skills-item:hover {
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #E75371;
    border: 2px solid rgba(231, 83, 113, 0.5);
}

.music-item:hover {
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #21C2C8;
    border: 2px solid rgba(33, 194, 200, 0.5);
}

/* Projects */

.project-description {
    text-align: left !important;
}

.col-lg-3 {
    margin: 0 60px;
}

.project-link {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px auto !important;
    font-family: 'Hind', sans-serif !important;
    font-size: 24px !important;
    color: black !important;
}

.img-responsive {
    margin: -30px auto;
}

.img-responsive2 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50%;
    border: solid #2FC2C7 2px;
    transition: all 0.3s ease-out;
}

.img-responsive2:hover {
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 25px #2FC2C7;
    border: solid rgba(47, 194, 199, 0.5) 2px;
}

.projects-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    margin-bottom: 100px;
}

.soundcloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

iframe {
    margin: 15px 15px;
}

.sc-background-orange {
    background-color: white !important;
    background-image: none !important;
}

.about-me-content.music {
    background-color: #F5F5F5;
    height: 770px;
    max-height: 770px;
}

.overflow-music {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70rem;
    height: 340px;
    overflow-x: scroll;
    border: solid #FC561F 5px;
}

/* Resume */

.btn.btn-default {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31363E;
    background-color: white;
    border-color: white;
    border: 2px solid white;
    font-weight: 900;
}

.btn.btn-default:hover {
    color: #31363E !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

/* Back to Top */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.fa.fa-arrow-circle-up {
    color: #E75371;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    z-index: 1;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

#return-to-top:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    z-index: 1;
}

/* Footer */

::-webkit-scrollbar {
    display: none;
}

.page-footer {
    background-color: #31363E;
    color: white;
    padding-top: 1px;
}

.pfoot {
    text-align: left !important;
}

/* Social Media Icons */

.fa.fa-github, .fa.fa-linkedin, .fa.fa-facebook, .fa.fa-twitter, .fa.fa-instagram, .fa.fa-soundcloud, .fa.fa-spotify {
    color: white;
    font-size: 22px;
    margin: 3px -5px;
    padding-top: 22px;
    transition: all 0.5s ease-out;
}

.fa.fa-github.foot:hover, .fa.fa-github:hover {
    color: rgb(99, 99, 99);
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-linkedin.foot:hover, .fa.fa-linkedin:hover {
    color: #378EBF;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-twitter.foot:hover, .fa.fa-twitter:hover {
    color: #1DA1F2;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-soundcloud.foot:hover, .fa.fa-soundcloud:hover {
    color: #FF7200;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-spotify.foot:hover, .fa.fa-spotify:hover {
    color: #2ED566;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-facebook.foot:hover, .fa.fa-facebook:hover {
    color: #4267B2;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-instagram.foot:hover, .fa.fa-instagram:hover {
    background: -webkit-linear-gradient(#555FCE, #FCAD45, #E34D51, #C03287);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa.fa-github.foot, .fa.fa-linkedin.foot, .fa.fa-facebook.foot, .fa.fa-twitter.foot, .fa.fa-instagram.foot, .fa.fa-soundcloud.foot, .fa.fa-spotify.foot {
    color: white;
    font-size: 20px;
}

/* Paint Brush */

.fa.fa-paint-brush {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0 70px;
    -webkit-animation: color-change 5s infinite, swing 4s linear infinite;
    -moz-animation: color-change 5s infinite, swing 4s linear infinite;
    -o-animation: color-change 5s infinite, swing 4s linear infinite;
    -ms-animation: color-change 5s infinite, swing 4s linear infinite;
    animation: color-change 5s infinite, swing 4s linear infinite;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
}

.fa-paint-brush:before {
    content: "\f1fc";
    margin: 22px auto;
}

@keyframes swing {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-88deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.fa.fa-paint-brush:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@-webkit-keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: indigo;
    }
}

@-moz-keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: indigo;
    }
}

@-ms-keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: indigo;
    }
}

@-o-keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: indigo;
    }
}

@keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: indigo;
    }
}

/* Spinner */

.fa.fa-spinner {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
    margin: 0 70px;
    -webkit-animation: spin 4s reverse infinite;
    -moz-animation: spin 4s reverse infinite;
    animation: spin 4s reverse infinite;
}

.circle-no {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
}

.fa.fa-spinner:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.circle-no:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Mobile Icon */

.fa.fa-tv {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 40px;
    transition: all 0.5s ease-in;
    -webkit-animation: pulse 4s infinite;
    -moz-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
}

@-moz-keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.screen-no {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: black;
    font-size: 50px;
    margin: 0 70px;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
}

.fa-tv:before {
    content: "\f26c";
    margin: 28px 0px 28px 5px;
}

.fa.fa-tv:hover {
    animation-play-state: paused;
    cursor: pointer;
}

/* Contact */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 1000px;
    margin: 20px !important;
    height: 3em;
    border: 2px solid #21C2C8 !important;
}

textarea {
    margin: 20px !important;
    height: 15rem;
    border: 2px solid #21C2C8 !important;
}

textarea:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

.btn-primary {
    width: 100px;
    border-radius: .25rem;
    border: 2px solid #E75371 !important;
    background-color: #E75371 !important;
    color: white !important;
    font-weight: bold !important;
    outline: none;
}

.btn-primary:hover {
    transition: .15s ease-in-out !important;
    background-color: .15s ease-in-out !important;
    border-color: .15s ease-in-out !important;
    box-shadow: .15s ease-in-out !important;
    color: white !important;
    background-color: rgba(231, 83, 113, 0.705) !important;
    border-color: rgba(231, 83, 113, 0.01) !important;
    font-weight: bold !important;
}

input[type="submit"] {
    border: 0px !important;
    outline: none !important;
}

input[type="submit"]::-moz-focus-inner {
    border: 0px !important;
    outline: none !important;
}

.about-me-content.contact {
    height: 730px;
}

/*Horizontal Sliding*/

.english {
    margin: -14px -85px
}

.spanish {
    margin: -14px -115px
}

.korean {
    margin: -15px -165px
}

.hebrew {
    margin: -14px -80px
}

.german {
    margin: -14px -158px
}

.slidingVertical span {
    animation: topToBottom 12.5s linear infinite 0s;
    -ms-animation: topToBottom 12.5s linear infinite 0s;
    -webkit-animation: topToBottom 12.5s linear infinite 0s;
    color: white;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.slidingVertical span:nth-child(1) {
    animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.slidingVertical span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.slidingVertical span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.slidingVertical span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}

.slidingVertical span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/

@-moz-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}